.head-cook{
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
}

.cook-data{
    display: flexbox;
    flex-wrap: nowrap;
    height: 50%;
    text-align: center;
    width: 80%;
    margin: auto;
    size: 20px;
    background-image: radial-gradient( circle 993px at 0.5% 50.5%,  rgba(137,171,245,0.37) 0%, rgba(245,247,252,1) 100.2% );
    margin-top: 50px;
    justify-content: center;
    border: 3px solid ;
    border-radius: 5px;
    margin-bottom: 50px;
}

.Single-cook{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding: 20px;
    margin-top: 10px;
}

.cook-info{
    font-size: 15px;
    font-weight: bold;
}