.rd {
    width: 100%;
    border-collapse: collapse;
  
  }
  
  .rd td {
    padding: 10px;
    text-align: left;
    background-color: rgb(221, 223, 226);
    font-size: 25px;
  
  }
  
  .rd1 {
    width: 100%;
    border-collapse: collapse;
  }
  
  
  .rd1 td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    text-align: left;
  }
  
  .rd1 tr:hover {
    background-color: #f5f5f5;
  }
  
  
  